@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{ /* permet de def variable */
    --black: #333;
    --white: #fff;
}

.dark{
    --black: #fff;
    --white: #333;
}

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    transition: .2s linear;
}

header .logo{
    position: relative;
    text-decoration: none;
    display: inline-flex;
    color: var(--black);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.coteDroit{
    display: flex;
}

.btns{
    position: relative;
    width: 40px;
    height: 40px;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.btns i{
    font-size: 1.5em;
    color: var(--black);
}

.btns i:nth-child(2){
    display: none;
}

.btns.menu i{
    font-size: 1.8em;
}

.btns.active i:nth-child(1){
    display: none;
}

.btns.active i:nth-child(2){
    display: block;
}

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filtre{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
    transition: .2s linear;
}

.dark .filtre{
    filter: invert(1);
    mix-blend-mode: multiply;
    transition: .2s linear;
}

.main h2{
    position: relative;
    z-index: 3;
    font-size: 16vh;
    color: #fff;
    text-shadow: 0 20px 30px rgb(0, 0, 0,0.2);
    transition: .2s linear;
}

.navigation{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    z-index: 4;
    transition: .5s linear;
}

.navigation.active{
    left: 0;
    transition: .5s linear;
}

.navigation li{
    list-style: none;
}

.navigation li a{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--black);
    padding: 5px 20px;
    border-radius: 40px;
}

.navigation li a:hover{
    background-color: var(--black);
    color: var(--white);
    transition: .1s linear;
}

.copyright{
    position: absolute;
    left: 100px;
    bottom: 30px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--black);
    transition: .2s linear;
}

.reseaux{
    position: absolute;
    right: 100px;
    bottom: 30px;
    z-index: 4;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: .2s linear;
}

.reseaux li{
    padding: 5px 0;
    font-size: 1.75em;
}

.reseaux li a{
    text-decoration: none;
    color: var(--black);
}

@media (max-width: 1024px){
    .main h2{
        font-size: 13vh;
    }
}

@media (max-width: 768px){
    header{
        padding: 20px;
        transition: .2s linear;
    }
    .copyright{
        left: 25px;
        transition: .2s linear;
    }
    .reseaux{
        right: 20px;
        transition: .2s linear;
    }
    .main h2{
        font-size: 12vh;
        transition: .2s linear;
    }
}

@media (max-width: 530px){
    .main h2{
        font-size: 7vh;
        transition: .2s linear;
    } 
}