*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: #4b4b4b;
}

.milieu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* permt de centrer 3 lignes */

}

.menu{
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.item{
    border-top: 1px solid #ff9f1a;
    overflow: hidden;
}

.item i{
    background-color: #ffaf40;
}

.btn{
    display: block;
    padding: 16px 20px;
    background-color: #ffaf40;
    color: white;
    position: relative;
}

.btn::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #ffaf40;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.btn i {
    margin-right: 10px;
}

.sous-menu{
    background-color: #333;
    overflow: hidden;
    transition: max-height .3s;
    max-height: 0;
}

.sous-menu a{
    display: block;
    padding: 16px 26px;
    margin: 4px 0;
    color: white;
    font-size: 14px;
    position: relative;
}

.sous-menu a:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #ff9f1a;
    left: 0;
    top: 0;
    transition: .3s;
    opacity: 0;
}

.sous-menu a:hover::before{
    opacity: 1;
}

.item:target .sous-menu{
    max-height: 10em;
}