body{
    margin: 0;
    padding: 0;
    background: url(images/bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #000;
    cursor: pointer;
}

.content{
    width: 700px;
    line-height: 26px;
    font-size: 18px;
}

.content p{
    text-align: justify;
}

.cursor{
    width: 50px;
    height: 50px;
    position: fixed;
    border: 1px solid #f5f5f5;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.cursor2{
    width: 8px;
    height: 8px;
    background-color: #c6c6c6;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}