*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #050505;
}

.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d; /* permet de faire du 3D */
    animation: floating 4s linear infinite;
}

@keyframes floating{

    0%{
        transform: rotateX(-30deg) rotateY(0deg) translateY(-50px);
    }

    50%{
        transform: rotateX(-30deg) rotateY(180deg) translateY(0);
    }

    100%{
        transform: rotateX(-30deg) rotateY(360deg) translateY(-50px);
    }
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00f);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

.top-cube{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    transform: rotateX(90deg) translateZ(150px);
}

.top-cube::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: #00f;
    transform: translateZ(-380px);
    filter: blur(30px);
    box-shadow: 0 0 120px rgba(0, 0, 255, 0.2),
    0 0 200px rgba(0, 0, 255, 0.4),
    0 0 300px rgba(0, 0, 255, 0.6),
    0 0 400px rgba(0, 0, 255, 0.8),
    0 0 500px rgba(0, 0, 255, 1);
}