*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

body{
    text-align: center;
}

img{
    width: 100%;
    max-width: 800px;
    padding: 20px 40px;
}

p{
    max-width: 800px;
    margin: auto;
    text-align: justify;
    padding: 0 40px;
}

/* chargement */

.loder-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loder{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498bd;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loder 1.2s linear infinite;
}

@keyframes loder {
    25%{
        color: #2eec71;
    }
    50%{
        color: #f1c40f
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}