body {
    margin: 0;
    padding: 0;
    background-color: #596275;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.contener{
    display: flex;
    align-items: center;
    justify-content: center;
}

.erreur{
    padding-left: 50px;
}

.erreur h1,p{
    color: white;
    font-weight: bold;
}

.fantome{
    width: 140px;
    height: 160px;
    background-color: #f2f2f2f2;
    border-radius: 70px 70px 0 0;
    position: relative;
    cursor: pointer;
    animation: floating 2s infinite ease-in-out;
}

@keyframes floating{
    50%{
        transform: translateY(-50px);
    }
}

.figure{
    width: 100px;
    position: absolute;
    top: 60px;
    left: calc(50% - 50px);
}

.yeux{
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}

.yeux span{
    width: 24px;
    height: 24px;
    background-color: #596275;
    border-radius: 50%;
    transition: .3s linear;
}

.fantome:hover .yeux span{
    height: 16px;
}

.bouche{
    width: 40px;
    height: 20px;
    background-color: #596275;
    margin: auto;
    border-radius: 0 0 20px 20px;
    transition: .3s linear;
}

.fantome:hover .bouche{
    height: 12px;
}

.mains{
    width: 180px;
    position: absolute;
    left: -20px;
    top: 80px;
    display: flex;
    justify-content: space-between;
}

.mains span{
    width: 20px;
    height: 30px;
    background-color: #f2f2f2f2;
}

.mains span:first-child{
    border-radius: 20px 0 0 20px;
}

.mains span:last-child{
    border-radius: 0 20px 20px 0;
}

.pieds{
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: flex;
}

.pieds span{
    flex: 1;
    height: 20px;
    background-color: #f2f2f2f2;
    border-radius: 0 0 20px 20px;
}

.pieds span:first-child{
    border-radius: 0 0 20px 12px;
}

.pieds span:last-child{
    border-radius: 0 0 12px 20px;
}