@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: #0e1538;
}

.box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden; /* permet de retirer ce sui depasse */
    cursor: pointer;
}

.box::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: roue 4s linear infinite;
}

.box:hover::before{
    background: linear-gradient(#00ff2a, #f5ed04);
}

.box::after{
    content: '';
    position: absolute;
    background-color: #0e1538;
    inset: 4px; /* permet de superposer */
    border-radius: 16px;
}

@keyframes roue{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box h2{
    position: relative;
    font-size: 10em;
    color: #fff;
    z-index: 10;
}