@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}

.empoule{
    background-color: #444;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    z-index: 2;
}

.empoule::before{
    content: '';
    position: absolute;
    left: 22.5px;
    top: -50px;
    width: 35px;
    height: 80px;
    background-color: #444;
    border-top: 30px solid #000;
    border-radius: 10px;
}

.empoule span:nth-child(1){
    position: absolute;
    display: block;
    top: -16px;
    left: -3px;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
}

.empoule span:nth-child(2){
    position: absolute;
    display: block;
    top: -16px;
    right: -4px;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
}

.cable{
    position: absolute;
    left: calc(50% - 2px);
    bottom: 50%;
    width: 4px;
    height: 60vh;
    background-color: #000;
    z-index: 1;
}

.switch{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    background: linear-gradient(#eee, #ccc, #eee);
    border: 3px #000 solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch .btn{
    position: relative;
    width: 25px;
    height: 40px;
    background: linear-gradient(#777, #fff, #777);
    border-radius: 6px;
    border: 2px #000 solid;
    cursor: pointer;
}

.switch .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background: linear-gradient(#fff, #fff);
    border-radius: 4px;
}

.on .switch .btn::before{
    top: 15%;
}

#audio{
    display: none;
}

body.on{
    background: radial-gradient(#555, #111);
}

body.on .empoule{
    background-color: #fff;
    box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 150px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff,
    0 0 350px #fff;
}

body.on .empoule::before{
    background-color: #fff;
}

body.on .empoule span:nth-child(1){
    box-shadow: 20px 20px 0 10px #fff;
}

body.on .empoule span:nth-child(2){
    box-shadow: -20px 20px 0 10px #fff;
}

body.on .empoule::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    filter: blur(40px);
}


.titre{
    position: absolute;
    font-size: 120pt;
    z-index: -1;
    top: 60%;
    color: #222;
    font-family: 'Estonia', cursive;
}