@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282939;
}

ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px; /* espace dans une grille */
}

ul li{
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    text-decoration: none;
    font-size: 4em;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--color);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--color);
    -webkit-text-stroke: 1px var(--color);
}

ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--color));
}