/*Slider*/
.slider > div {
    display:block; width:100%; padding: 50px 0;
    background: #FF0;
    text-align: center; font-size: 2em;
}

/* Navigation */
.slider-nav { text-align: center; }

.slider-nav > div {
    display:inline-block;
    width:30px; height: 30px; margin: 0 5px; padding: 3px 0;
    text-align: center; font-size:2em;
    background: #FC0; cursor: pointer;
}