*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e2759;
}

ul{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(0, 0, 0,0.25);
}


ul li a{
    position: relative;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    z-index: 1000;
}

ul li a i{
    font-size: 2.5em;
    pointer-events: none;
    opacity: 0.2;
    transition: .2s linear;
}

ul li:hover a i{
    opacity: 1;
}