*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* img{ meme chose mais en mettant l'image dans html
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
} */

body{
    background: url(images/login-background.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: calc(100% - 20px);
    max-width: 500px;
    background-color: #fff;
    padding: 50px 40px;
    
}

.login-form h1{
    text-align: center;
    margin: 48px 0;
    font-size: 36px;
    font-size: 36px;
    color: #111;
}

.textb{
    margin-bottom: 12px;
    position: relative;
}

.textb input{
    width: 100%;
    height: 70px;
    border: none;
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 60px 0 10px;
}

.placeholder{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 20px;
    color: #9d9d9d;
    user-select: none;
    pointer-events: none;
    transition: .2s linear;
}

.show-password{
    position: absolute;
    right: 20px;
    line-height: 70px;
    top: calc(100% - 47px);
    color: #9d9d9d;
    font-size: 22px;
    cursor: pointer;
}

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder{
    left: 10px;
    top: -16px;
}

.checkbox{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 20px 0;
}

.checkbox input{
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    background-color: #ededed;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox .fa-check{
    position: absolute;
    color: #fff;
    font-size: 14px;
    width: 24px;
    text-align: center;
    user-select: none;
    pointer-events: none;
    opacity: 0;
}

.checkbox input:checked{
    background-image: linear-gradient(120deg,#fd5c7d, #5ecfef);
}

.checkbox input:checked + .fa-check{
    opacity: 1;
}

.btn{
    display: block;
    width: 50px;
    height: 50px;
    margin: 40px 180px 40px 180px;
    color: #fff;
    background-image: linear-gradient(120deg,#fd5c7d, #5ecfef);
    font-size: 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s linear;
}

.btn:hover{
    opacity: .85;
}

.login-form a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    transition: .3s linear;
}

.login-form a:hover{
    color: #111;
}

.btn:disabled{
    background-image: none;
    color: #ddd;
    border: 2px solid;
    transition: .3s linear;
}