body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c3a47;
}

.social-media > a{
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #3ECEC9;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
}

.social-media a::before, .social-media a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.social-media a:hover{
    transform: scale(.8);
}

.social-media a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}

.social-media a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}

.social-media a:active{
    transform: scale(1);
    transition: .09s linear;
}

.social-media a:active::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(0deg);
}

.social-media a:active::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(0deg);
}